<%- include('../layout/header');  %>

    <div class="card mt-3">
        <div class="card-body">
            <div class="card-header">
                <div class="card-title">
                    <h3>Categories</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-body">
            <div class="row mx-0 mt-2">
                <div class="col-3">
                    <a href="/categories/add" class="btn btn-primary btn-block">Add</a>
                </div>
                <div class="col-3 offset-6">
                    <input type="text" placeholder="Search..." class="form-control">
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-body">
            <div class="row mx-0 mt-3">
                <div class="col-12">
                    <div class="table-responsive">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Description</th>
                                                <th>Status</th>
                                                <th>Image</th>
                                                <th>Created_at</th>
                                                <th>Updated_at</th>
                                                <th>Is Deleted</th>
                                                <th>Operations</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Name</th>
                                                <th>Description</th>
                                                <th>Status</th>
                                                <th>Image</th>
                                                <th>Created_at</th>
                                                <th>Updated_at</th>
                                                <th>Is Deleted</th>
                                                <th>Operations</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <% data.forEach(x => { %>
                                                <tr>
                                                    <td><%= x.name %></td>
                                                    <td><%= x.description %></td>
                                                    <td><%= x.status %></td>
                                                    <td><%= x.image %></td>
                                                    <td><%= new Date(x.created_at).toISOString().slice(0, 19) %></td>
                                                    <td><%= new Date(x.updated_at).toISOString().slice(0, 19) %></td>
                                                    <td><%= x.isdeleted %></td>
                                                    <td>
                                                        <a class="btn btn-warning" href="/categories/edit/<%= x.id %>">Edit</a>
                                                        <a class="btn btn-danger mt-3" href="/categories/delete/<%= x.id %>">Delete</a>
                                                    </td>
                                                </tr>
                                            <% }) %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include('../layout/footer');  %>